# Archivos y carpetas de ejecución de Nextflow
work/
.nextflow/
.nextflow.log*
results/
raw_data/
bin/gnina
.claude/
MEJORAS_CLAUDE_CODE.md
CLAUDE.md

# Archivos de sistema y editores
.DS_Store
.vscode/