// nextflow.config
conda.enabled = true

executor {
    name = 'local'
    memory = '12 GB'
    cpus = 6 
}

params {
    raw_dir = "${projectDir}/raw_data"
    outdir  = "${projectDir}/results"
    
    // Default input structures
    wt_pdb  = "${params.raw_dir}/DYRK1B_AZ191_complex.pdb"
    ligand  = "${params.raw_dir}/AZ191.sdf"
    
    // Docking bounding box (Adjust these to the actual binding site coordinates)
    box_x   = -19.45
    box_y   = -26.67
    box_z   = 1.54
    box_size = 20.0
}

process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: 'gpu_intensive' {
        maxForks = 1 // Crucial to prevent VRAM overflow on the RTX 2060
    }
}