conda.enabled = true

executor {
    name = 'local'
    
    memory = '12 GB'
    
    cpus = 6 
}

params {
    raw_dir = "${projectDir}/raw_data"
    outdir = "${projectDir}/results"
}

process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: 'gpu_intensive' {
        maxForks = 1
    }
}